{% extends 'blog/base.html' %}

{% block title %}
  Страница авторизации
{% endblock %}

{% block content %}
  <h1>Страница авторизации</h1>
  <form method="post" class="form-register auth">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-warning" type="submit">Войти</button>
    <hr>
    <p>Забыли парль? <a href="{% url 'pass-reset' %}">Получить новый</a></p>
  </form>
{% endblock %}

{% block aside_block %}
  <h4 class="mt-2">Интересные статьи</h4>
  <img class="img-thumbnail" src="https://itproger.com/img/courses/1532598979.jpg" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptates, optio, vitae tenetur id facilis magni! Explicabo aliquam assumenda facilis.</p>

  <a href="https://itproger.com/" target="_blank">
    <button class="btn btn-warning mb-4">Узнать больше</button>
  </a>

  <img class="img-thumbnail" src="https://itproger.com/img/courses/1493626043.jpg" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptates, optio, vitae tenetur id facilis magni! Explicabo aliquam assumenda facilis.</p>

  <a href="https://itproger.com/" target="_blank">
    <button class="btn btn-warning">Узнать больше</button>
  </a>
{% endblock %}
